streamlit
pandas
plotly
beautifulsoup4
PyGithub
openpyxl
lxml
numpy
statsmodels
xlsxwriter
google-generativeai
Pillow
requests
prophet
feedparser
fpdf
fpdf2
duckduckgo-search
selenium
webdriver-manager
